.contenedorInicio {
	background-color: $bgbody;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		"header header header"
		"banner banner banner"
		"contenido contenido sidebar"
		"footer footer footer";
}
.header {
	grid-area: header;
}
.banner {
	grid-area: banner;
}
.contenido {
	grid-area: contenido;
}
.sidebar {
	grid-area: sidebar;
}
.footer {
	grid-area: footer;
}
.contenedorServicios {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-template-areas:
		"header header header"
		"banner banner banner"
		"caja1 caja2 caja3"
		"caja4 caja5 caja6"
		"footer footer footer";
}

.caja1 {
	grid-area: caja1;
}
.caja2 {
	grid-area: caja2;
}
.caja3 {
	grid-area: caja3;
}
.caja4 {
	grid-area: caja4;
}
.caja5 {
	grid-area: caja5;
}
.caja6 {
	grid-area: caja6;
}
.caja1,
.caja2,
.caja3,
.caja4,
.caja5,
.caja6 {
	background-color: darkmagenta;
	border-radius: 30px;
	padding: 30px;
	margin: 30px;
	text-align: center;
}
.contenedorNosotros {
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
		"persona1 botonera1"
		"persona2 botonera2"
		"persona3 botonera3";
}
.persona1 {
	grid-area: persona1;
}
.persona2 {
	grid-area: persona2;
}
.persona3 {
	grid-area: persona3;
}
.botonera1 {
	grid-area: botonera1;
}
.botonera2 {
	grid-area: botonera2;
}
.botonera3 {
	grid-area: botonera3;
}
.persona1,
.persona2,
.persona3 {
	border: solid antiquewhite;
	border-radius: 30px;
	display: flex;
	align-items: center;
	margin: 50px;
	padding: 20px;
}
.botonera1,
.botonera2,
.botonera3 {
	display: flex;
	align-items: center;
	justify-content: center;
}