@media screen and (max-width:767px) {
	header {
		h1 {
			font-size: 2.7rem;
		}
	}

	.header {
		.menu {
			li {
				font-size: 1.4rem;
			}
		}
	}
	.contenido{
		.contenedor-princ{
			width: auto;
		}
	}
	.contenedorInicio {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, auto);
		grid-template-areas:
			"header header"
			"banner banner"
			"contenido contenido"
			"sidebar sidebar"
			"footer footer";
		h2 {
			font-size: $subtitulo - 2;
		}

		h3 {
			font-size: $subtitulo - 2;
		}

		p {
			font-size: $subtitulo - 3;
		}
	}
	.contenedorServicios {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(9, auto);
		grid-template-areas:
			"header header"
			"banner banner"
			"caja1 caja1"
			"caja2 caja2"
			"caja3 caja3"
			"caja4 caja4"
			"caja5 caja5"
			"caja6 caja6"
			"footer footer";
		h2 {
			font-size: $subtitulo - 2;
		}

		h3 {
			font-size: $subtitulo - 2;
		}

		p {
			font-size: $subtitulo - 3;
		}
	}
	.contenedorNosotros {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, auto);
		grid-template-areas:
			"persona1 persona1"
			"botonera1 botonera1"
			"persona2 persona2"
			"botonera2 botonera2"
			"persona3 persona3"
			"botonera3 botonera3";
		h3 {
			font-size: $subtitulo - 2;
		}

		p {
			font-size: $subtitulo - 3;
		}
	}
	.nosotros {
		h2 {
			font-size: $subtitulo - 2;
		}
	}
	.persona1,
	.persona2,
	.persona3 {
		border: solid antiquewhite;
		border-radius: 30px;
		margin: 50px;
		padding: 20px;
		display: flex;
		flex-direction: column;
	}
	.personal {
		width: 200px;
	}
	.botonera {
		margin-bottom: 40px;
	}
	.contacto{
		h2 {
			font-size: $subtitulo - 2;
		}
	}
	.contenedorContacto {
		background-color: $bgbody;
		width: 100%;
		align-items: center;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"ubicacionLocal ubicacionLocal"
			"comunicacionMedios comunicacionMedios"
			"comunicacionContacto comunicacionContacto";
		.video{
			width: 210px;
			height: auto;
		}
	}
}

@media screen and (min-width:768px) and (max-width:1276px) {
	.contenedorServicios {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, auto);
		grid-template-areas:
			"header header"
			"banner banner"
			"caja1 caja2"
			"caja3 caja4"
			"caja5 caja6"
			"footer footer";
	}
	.contenedorNosotros {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, auto);
		grid-template-areas:
			"persona1 persona1"
			"botonera1 botonera1"
			"persona2 persona2"
			"botonera2 botonera2"
			"persona3 persona3"
			"botonera3 botonera3";
	}

	.persona1,
	.persona2,
	.persona3 {
		border: solid antiquewhite;
		border-radius: 30px;
		margin: 50px;
		padding: 20px;
		display: flex;
		flex-direction: column;
	}

	.personal {
		width: 200px;
	}

	.botonera {
		margin-bottom: 40px;
	}
	.contenedorContacto{
		background-color: $bgbody;
		width: 100%;
		align-items: center;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"ubicacionLocal"
			"comunicacionMedios"
			"comunicacionContacto";
	}
}

@media screen and (min-width:1276px) {}