$bgbody: #c6daf3;
$titulo: 6rem;
$colortitulo: #863286df;
$subtitulo: $titulo - 2;
$colorsubtitulo: #651d65d2;
$colhoversub: #5f9ea0;
@mixin titulostipografia ($variable1, $variable2, $variable3) {
    font-family: $variable1;
    text-align: $variable2;
    font-size: $variable3;

}
@mixin decosubtitle ($variable1, $variable2) {
    text-decoration: $variable1;
	color: $variable2;
}
@mixin  decohoversub ($variable1, $variable2) {
    text-decoration: $variable1; 
    color: $variable2;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $bgbody;
    font-family: 'Merriweather', serif;
    h1{
        @include titulostipografia ('Alice', center, $titulo);
        a{
            text-decoration: none;
			color: $colortitulo;
        }
        a:hover{
            @extend a ;
        }
    }
    h2{
        @include titulostipografia ('Alice', center, $subtitulo);
        background-color: #f5deb3;
        margin: 30px;
        opacity: 0.5;
    }
    h3{
        @include titulostipografia ('Alice', center, $subtitulo - 2);
    }
    h4{
        @include titulostipografia ('Alice', center, $subtitulo - 2.6);
    }
    h5 {
        @include titulostipografia ('Alice', center, $subtitulo - 2);
    }
    p{
        font-size: $subtitulo - 3;
    }
}

    @import "grid";
    @import "header-footer";
    @import "hero";
    @import "contenido-principal";
    @import "animaciones";
    @import "responsive";